@model DisplayViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <body>
        <h3 class="text-center"> Pending </h3>
        <div>
            <table id="table12">
                <tr>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Next Of Kin
                    </th>
                    <th>
                        Incident Type
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var line in Model.Reports)
                {
                    //if (line.UserId == UserManager.GetUserId(User) && !line.Complete)
                    if(line.Email == UserManager.GetUserName(User) && !line.Complete)
                    {
                <tr>
                    <partial name="_ReportTable" model="line" />
                    <td>
                        <a asp-controller="Report"
                           asp-action="LineManager"
                           asp-route-reportId="@line.ReportId">
                            more
                        </a>
                    </td>
                </tr>
                    }


                }
            </table>
      </div><br />
        <table id="table12">
            <h3 class="text-center"> Completed </h3>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Next Of Kin
                </th>
                <th>
                    Incident Type
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th>

                </th>
            </tr>
            @foreach (var line in Model.Reports)
            {
                if (line.Email == UserManager.GetUserName(User) && line.Complete)
                {
            <tr>
                <partial name="_ReportTable" model="line" />
                <td>
                    <a asp-controller="Report"
                       asp-action="FinalReport"
                       asp-route-reportId="@line.ReportId">
                        more
                    </a>
                </td>
            </tr>

                }


            }
        </table>
        </div>


    </body>
