@model DisplayViewModel
<body>
    <table id="table12">
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Next Of Kin
            </th>
            <th>
                Incident Type
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>

            </th>
        </tr>

        @foreach (var line in Model.Reports)
        {
            <tr>
                <partial name="_ReportTable" model="line" />
                <td>
                    <a asp-controller="Report"
                       asp-action="FinalReport"
                       asp-route-reportId="@line.ReportId"> more 
                    </a>
                </td>
            </tr>
        }
    </table>
</body>