@model Reports

    <div class="container3">
        <div id="printarea">
        <partial name="_Pdf" model="Model" />
       
        </div>
    <div class="float-md-right form-group row">
        <div class="col-md-4">
            <button type="button" onclick="printDiv('printarea')"  value="print">Print</button>
        </div>
        <div class="col-md-4">
            <button>
                <a class="plain" asp-controller="Report" asp-action="Download" asp-route-reportId="@Model.ReportId" >Download</a>
            </button>
        </div>

    </div>
</div>


