@model Reports

    <div class="container3">
        <div id="printarea">
        <partial name="_Pdf" model="Model" />
       
        </div>
    <div class="form-group row" id="indent">
        <div class=" pull-right">
            <button type="button" onclick="printDiv('printarea')"  value="print">Print</button>
        </div>
        <div class="col-md-4 pull-right">
            <button>
                <a class="plain" asp-controller="Home" asp-action="Download" asp-route-reportId="@Model.ReportId" >Download</a>
            </button>
        </div>

    </div>
</div>


