@model Reports
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
<body>
    <div class="container1">

        @UserManager.GetUserId(User)
        <form asp-action="Submit" method="post" role="form">

            <partial name="_ReportPage1" />

            <div class=" form-group row">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    @*<input asp-for="LineManager.Email" class="form-control" type="hidden" value="@Model.Email" />*@

                </div>
            </div>
            <input asp-for="UserId" type="hidden" asp-action="@UserManager.GetUserId(User)" />
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" class="btn btn-primary" value="Next" />
                </div>
            </div>

        </form>
    </div>
</body>
