@model Reports
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
<body>
    
        <form asp-action="Submit" method="post" role="form">
            <div class="container1">
                <partial name="_ReportPage1" />
                <div>
                    <label>Additional Witness</label>
                </div>
                <br />
                <div class="form-group row">
                    <label asp-for="PresentFirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="PresentFirstName" class="form-control" />
                    </div>
                    <label asp-for="PresentLastName" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="PresentLastName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PresentPhone" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="PresentPhone" class="form-control" tupe="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IncidentDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <textarea asp-for="IncidentDescription" rows="4" cols="40" class="control-label"></textarea>
                    </div>
                </div>

            </div>
            <div class="container1">
                <div class="form-group row">
                    <label asp-for="LineManager.FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="LineManager.FirstName" class="form-control" />
                    </div>
                    <label asp-for="LineManager.LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="LineManager.LastName" class="form-control" />
                    </div>
                </div>
                <div class=" form-group row">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-3">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <input asp-for="UserId" type="hidden" asp-action="@UserManager.GetUserId(User)" />
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="submit" class="btn btn-primary" value="Next" />
                    </div>
                </div>

            </div>
        </form>
    
</body>
