@model DisplayViewModel

    <table id="table12">
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Next Of Kin
            </th>
            <th>
                Incident Type
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>

            </th>
        </tr>

        @foreach (var line in Model.Reports)
        {
        @if (((line.Principal.FirstName == Model.Search.FirstName || Model.Search.FirstName == null)) && ((line.Principal.LastName == Model.Search.LastName || Model.Search.LastName == null)))
            {
                if ( line.Date<=Model.Search.EndTime && line.Date>=Model.Search.StartTime||Model.Search.EndTime.ToString("MM/dd/yyyy")==Model.NullTime.ToString("MM/dd/yyyy"))
                {
                    if(((line.IncidentType == Model.Search.Type || Model.Search.Type == null)) && ((line.IncidentLocation == Model.Search.Location || Model.Search.Location == null)))
                    {


                    <tr>
                        <partial name="_ReportTable" model="line" />
                        <td>
                            <a asp-controller="Report"
                            asp-action="FinalReport"
                            asp-route-reportId="@line.ReportId"> more 
                            </a>
                        </td>
                    </tr>
         }  }   }   }
    </table>
